---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Meditations:",
		desc: "Philosophy on life's trials and inner peace.",
		href: "https://classics.mit.edu/Antoninus/meditations.html",
	},
	{
		title: "The Space Economy:",
		desc: "Future of commercial space flight.",
		href: "https://www.spacecapital.com/space-economy-book",
	},
	{
		title: "Best Day Hikes in Spain",
		desc: "Mysterious adventures in the Spanish wilderness.",
		href: "https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwib3tjDhL-CAxW-ElkFHZ7MDjYQFnoECBcQAw&url=https%3A%2F%2Fwww.amazon.com%2FLonely-Planet-Best-Hikes-Spain%2Fdp%2F1838691243%23%3A~%3Atext%3DLonely%2520Planet%27s%2520Best%2520Day%2520Hikes%2Ccoast%252C%2520and%2520marvel%2520at%2520Mallorca.&usg=AOvVaw1zF09sZtduiI307DjU3rI8&opi=89978449",
	},
	{
		title: "Accidentally: Wes Anderson",
		desc: "A collection of memories & stories about Earth.",
		href: "https://accidentallywesanderson.com/book/",
	},

];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6"></h1>
		<p class="mb-4">
    Founder of Creative Agent, the No-Code Everything App. <br>
    <br>
    mike@creativeagent.us <br>
    <br>
    <h2 class="title text-xl">Highlights:</h2> 
        - Quantitative Researcher on Moody's EDFX Platform. <br>
        - Built No-Code Platform (Creative Agent) with 50k+ users. <br>
        - Apart of NIH PRIMED $38M Biotech lab focused on Polygenic Risk Scores.<br>
        - Past DeFi dev on L2 chain and Solo MEV searcher. <br>
        - Created Proforma Climate model for 440+M companies with 32M Climate Risk Scenarios. <br>
    <br>
    <h2 class="title text-xl">Previous Work:</h2>    
        - quant research at Moody's Analytics, lead dev for NIH PRIMED, dev for NASA Harvest, biotech research for USC.<br>
    <br>
    Etc. <br>
    Proudly from Los Angeles, California. <br>
    <br>
    <h2 class="title text-xl">My Research + Professional work:</h2>
    <br>
      - Fahrenheit Black Algorithm (execute two trades at once)
      - MEV Bot + Quantitative Research Stuff
      - Meta <br>
            -(Modern Recommendation Models and Systems (MRS) (teams: AI, Prod, Infra)
            -(Large scale graph learning, transfer learning, reinforcement learning and LLM prompting for recommendation)
            -(SoTA techniques in Facebook, Instagram apps)
            -(Expectation-Maximization (EM) based simulation framework, which doubled the structure moding resolution.
      - NIH: <br>
          - Build a motif searching tool using Local Sensitive Hashing method to find similar sequences in large genomes. <br>
          - Polygenic Risk Scores (see conti research)
          - Developed a new algo based on Hidden Markov Model (HMM) to detect chromosome domain structures, which are a standard lab tool
          - Constructed 3D models for yeast + mouse genomes using Markov Chain MonetCarlo (MCMC) and other statistical optimization methods.
                 - (https://www.genome.gov/news/news-release/nih-awards-38-million-dollars-to-improve-utility-of-polygenic-risk-scores-in-diverse-populations)
      
</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Highlights</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Book List</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>: 
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
